<div class="socrata-embed">
  <iframe width="{{ width }}px" height="{{ height }}px" src="{{ embed_url }}" frameborder="0" scrolling="no">
    <a href="{{ source['endpoint'] }}" title="{{ source['description'] }}" target="_blank">{{ source['description'] }}</a>
  </iframe>

  <p>
    <a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a>
  </p>
</div>
